//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	gap: toRem(10);
	align-items: center;
	padding: toRem(20) toRem(30);
	background-color: $blueColor;
	color: $whiteColor;
	border-radius: toRem(5);
	font-weight: 700;
	text-transform: uppercase;
	transition: background-color .3s;
	font-size: toRem(14);
	text-align: center;
	&:active {
		background-color: rgb(126, 147, 176);
	}
	@media (any-hover: hover){
		&:hover{
			background-color: rgb(126, 147, 176);
		}
	}
	&--fw {
		width: 100%;
	}
	.material-icons-outlined {
		font-size: toRem(18);
	}
}
