
//========================================================================================================================================================
//========================================================================================================================================================
.categories {
    @include adaptiveValue("padding-top", 80, 40);
    @include adaptiveValue("padding-bottom", 80, 40);
    &__container {
    }
    &__title-block {
        padding-bottom: 0;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
        &::after {
            display: none;
        }
    }
    &__items {
        @media (min-width: $mobileSmall) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: toRem(30);
            @media (max-width: $tablet) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: $mobile) {
                gap: toRem(15);
            }
        }
    }
    &__item {
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: toRem(20);
            }
        }
    }
}
.item-categories {
    border-radius: toRem(7);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &__image-ibg {
        display: block;
        padding-bottom: 70%;
        overflow: hidden;
        @media (min-width: $mobile) {
            @media (max-width: $tablet) {
                padding-bottom: 50%;
            }
        }
        @media (max-width: $mobileSmall) {
            padding-bottom: 50%;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0;
            z-index: 2;
            transition: opacity 0.3s;
        }
        img {
            transition: transform 0.5s;
        }
        &:active {
            &::before {
                opacity: 0.2;
            }
            img {
                transform: scale(1.05);
            }
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    opacity: 0.2;
                }
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
    &__body {
        padding: toRem(20) toRem(15) toRem(25);
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        gap: toRem(15);
        flex: 1 1 auto;
    }
    &__title-wrapper {
        font-weight: 700;
        font-size: toRem(20);
        text-transform: uppercase;
        @media (max-width: $mobile) {
            font-size: toRem(18);
        }
    }
    &__title {
        display: inline-block;
        transition: color 0.3s;
        line-height: 1.3;
        &:active {
            color: $blueColor;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $blueColor;
            }
        }
    }
    &__text {
        line-height: 1.5;
        flex: 1 1 auto;
        font-size: toRem(14);
    }
    &__link {
        font-size: toRem(12);
        text-transform: uppercase;
        color: #262d36;
        font-weight: 500;
        color: $silverColor;
        transition: color 0.3s;
        &:active {
            color: $blueColor;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $blueColor;
            }
        }
    }
}
