//========================================================================================================================================================
//========================================================================================================================================================
.footer {
    background-color: $mainColor;
    color: $whiteColor;
    &__container {
    }
    &__content {
        @include adaptiveValue("padding-top", 80, 40);
        @include adaptiveValue("padding-bottom", 80, 40);
        @media (min-width: em(600)) {
            display: grid;
            grid-template-columns: repeat(3, auto);
            @include adaptiveValue("column-gap", 100, 60, 0, 1170, 992);
            row-gap: toRem(40);
            @media (max-width: $tablet) {
                grid-template-columns: repeat(2, auto);
            }
        }
        @media (max-width: em(600)) {
            text-align: center;
        }
    }
    &__column {
        @media (min-width: em(600)) {
            max-width: toRem(300);
        }
        @media (max-width: em(600)) {
            &:not(:last-child) {
                margin-bottom: toRem(40);
            }
        }
    }
    &__label-column {
        color: #969da1;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: em(3, 16);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20, 0, 1170, 768);
        }
    }
    &__text {
        line-height: 1.5;
        &--small {
            font-size: toRem(12);
        }
    }
    &__contacts {
    }
    &__contact {
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    &__decor-contact {
        text-transform: uppercase;
        color: $brownColor;
        font-weight: 700;
    }
    &__link {
        transition: color 0.3s;
        &:active {
            color: $brownColor;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $brownColor;
            }
        }
    }
    &__items {
        li {
            a {
                transition: color 0.3s;
                &:active {
                    color: $brownColor;
                }
                @media (any-hover: hover) {
                    &:hover {
                        color: $brownColor;
                    }
                }
            }
        }
        li:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    &__bottom-row {
        padding-top: toRem(30);
        padding-bottom: toRem(30);
        border-top: toRem(1) solid #969da1;
    }
}
