// .category-page-product {
//     &:not(:last-child) {
//         @include adaptiveValue("margin-bottom", 80, 40);
//     }
//     &__container {
//     }
//     &__title {
//         @include adaptiveValue("font-size", 45, 26);
//         text-align: center;
//         font-weight: 700;
//     }
// }

// .product {
//     &:not(:last-child) {
//         @include adaptiveValue("padding-bottom", 80, 40);
//     }
//     &__container {
//     }
//     &__title-block {
//         padding-bottom: 0;
//         &:not(:last-child) {
//             @include adaptiveValue("margin-bottom", 30, 20);
//         }
//         &::after {
//             content: "";
//             display: none;
//         }
//         @media (max-width: $mobile) {
//             text-align: center;
//         }
//     }
//     &__info {
//         line-height: 1.5;
//         h2 {
//             font-size: toRem(24);
//             font-weight: 700;
//             &:not(:last-child) {
//                 @include adaptiveValue("margin-bottom", 30, 20);
//             }
//         }
//         img {
//             @media (min-width: $mobile) {
//                 float: left;
//                 max-width: 30%;
//                 margin: toRem(5) toRem(30) toRem(20) 0;
//                 @media (max-width: $tablet) {
//                     max-width: 40%;
//                 }
//             }
//             @media (max-width: $mobile) {
//                 max-width: 100%;
//                 max-height: toRem(250);
//                 display: block;
//                 margin: 0 auto toRem(20);
//             }
//         }
//         p {
//             &:not(:last-child) {
//                 margin-bottom: toRem(10);
//             }
//         }
//         ol {
//             margin-left: toRem(20);
//             &:not(:last-child) {
//                 margin-bottom: toRem(20);
//             }
//             li {
//                 &::marker {
//                     font-weight: 700;
//                     color: $blueColor;
//                 }
//                 &:not(:last-child) {
//                     margin-bottom: toRem(5);
//                 }
//             }
//         }
//         ul {
//             &:not(:last-child) {
//                 margin-bottom: toRem(20);
//             }
//             li {
//                 display: flex;
//                 gap: toRem(7);
//                 &:not(:last-child) {
//                     margin-bottom: toRem(5);
//                 }
//                 &::before {
//                     content: "";
//                     flex: 0 0 auto;
//                     width: toRem(10);
//                     height: toRem(10);
//                     border-radius: 50%;
//                     background-color: $blueColor;
//                     margin-top: toRem(7);
//                 }
//             }
//         }
//     }
// }
//========================================================================================================================================================
//========================================================================================================================================================
.category-page-product {
    &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 80, 40);
    }
    &__container {
    }
    &__title {
        @include adaptiveValue("font-size", 45, 26);
        text-align: center;
        font-weight: 700;
    }
}
.sub-category {
    line-height: 1.5;
    &__container {
    }
    &__title {
    }
    &__content {
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
    &__product {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    h2 {
        font-size: toRem(24);
        font-weight: 700;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30, 20);
        }
    }
    img {
        @media (min-width: $mobile) {
            float: left;
            max-width: 30%;
            margin: toRem(5) toRem(30) toRem(20) 0;
            @media (max-width: $tablet) {
                max-width: 40%;
            }
        }
        @media (max-width: $mobile) {
            max-width: 100%;
            max-height: toRem(250);
            display: block;
            margin: 0 auto toRem(20);
        }
    }
    p {
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }
    ol {
        margin-left: toRem(20);
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        li {
            &::marker {
                font-weight: 700;
                color: $blueColor;
            }
            &:not(:last-child) {
                margin-bottom: toRem(5);
            }
        }
    }
    ul {
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        li {
            position: relative;
            padding-left: toRem(17);
            &:not(:last-child) {
                margin-bottom: toRem(5);
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: toRem(10);
                height: toRem(10);
                border-radius: 50%;
                background-color: $blueColor;
                margin-top: toRem(7);
            }
        }
    }
    h3 {
        font-size: toRem(20);
        font-weight: 700;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
    }
}
.product {
    &__info {
    }
}
.info {
}
.wp-block-table {
    overflow-x: auto;
    &:not(:last-child) {
        margin-bottom: toRem(20);
    }
    table {
        border-collapse: collapse;
        width: 100%;
        min-width: toRem(500);
    }
    td {
        border: 1px solid;
        padding: 0.5em;
    }
}
